@tailwind base;
@tailwind components;
@tailwind utilities;

.font-anton {
    font-family: "Anton", sans-serif;
}

.font-antonio {
    font-family: "Antonio", sans-serif;
}

.font-interTight {
    font-family: "Inter Tight", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-workSans {
    font-family: "Work Sans", sans-serif;
}
