@tailwind base;
@tailwind components;
@tailwind utilities;

.font-anton {
    font-family: "Anton", sans-serif;
}

.font-antonio {
    font-family: "Antonio", sans-serif;
}

.font-interTight {
    font-family: "Inter Tight", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-workSans {
    font-family: "Work Sans", sans-serif;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2C2C2C;
}

::-webkit-scrollbar-thumb {
    background-color: #BC2C3D;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #CC0000;
}
