@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

body {
    background-image: url('/assets/bg-1.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121212; /* fallback */
}

hr {
    border-width: 2px;
}