@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton.ttf') format('ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans-VariableFont-wght.ttf') format('ttf');
}

hr {
    border-width: 2px;
}

* {
    font-family: 'Work Sans', sans-serif;
}